<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>

    <style>

        .container{
            background-color: darkgray;
            font-family: "DejaVu Sans";
            font-size: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .title{
            font-size: 48px;
            color: mintcream;
            text-align: center;
            font-family: "Britannic Bold";
        }

    </style>
</head>
<body>
<div class="container">



</div>
</body>
</html>